.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.tabsContainer {
  width: 50%;
}
.icons {
  display: flex;
}
.add__icon {
  background-color: #002a5b;
}
.iconContainer {
  float: right;
  display: flex;
}
.icons {
  display: flex;
}
.modal__confirmation {
  float: right;
  display: flex;
  gap: 0.8rem;
}
.helpIcon{
  position: absolute;
  margin-right: 3rem;
  margin-bottom: 2rem;
  right:    0;
  bottom:   0;
  color: #00255b
}
.tooltipText{
  font-style: italic;
}
.helpModal{
  height: auto;
  width: auto;
}
