.modal__container{
    height: auto;
    display: flex;
    width: auto;
    justify-content: space-evenly;
    
}
.modal__lcontainer{
    width: 50vw;
}
.modal__rcontainer{
    padding-left: 2rem;
    width: 50vw;
}
.modal__solicitant{
    display: flex;
}
.input__name{
    padding-left: 0.5rem;

}
.button{
    padding-top: 1.3rem;
   justify-content: space-between;
   display: flex;
}
.hiddenButton{
    background-color: white;
    cursor:default
}
.hiddenButton:hover{
    background-color: white;
}