.hover__link{
    cursor: pointer;
}
.header__container{
    position: fixed;
    
}
.logo{
    float: left;
}
.groupContainer{
    margin: 0 auto;

}
.helpIcon{
    position: absolute;
    margin-right: 3rem;
    margin-bottom: 2rem;
    right:    0;
    bottom:   0;
    color: #00255b
  }
  .tooltipText{
    font-style: italic;
  }
  