.table {
    min-width: 70vw;
  }
  .search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.1rem solid black;
    align-items: center;
  }
  .icons {
    display: flex;
    justify-content: center;
  }
  .table__data {
    text-align: center;
    
  }
  .table__columns {
    text-align: center;
  }
  .table__title {
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 1rem;
    justify-content: space-between;
    font-size: 1rem;
  }
  .table__title2 {
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 1rem;
  }
  .searchBar{
    display: flex;

    margin-right: 1rem;
  }
  .searchBar input{
    margin-right: 0.4rem;
    border-radius: 0.4rem;
  }
  .stack{
    width: 20%;
  }
  .refresh__icon{
    background-color: rgb(3, 170, 3);
    margin-left: 0.7rem;
    height: a;
  }