.tabs__container{
    margin: 5vh 15vw 10vw 15vw;
}
.DepartmentAreaStats{
    justify-content: space-between;
}
.left{
    float: left;
    width: 45%;
}
.right{
    float: right;
    width: 45%;
}
.helpIcon{
    position: absolute;
    margin-right: 3rem;
    margin-bottom: 2rem;
    right:    0;
    bottom:   0;
    color: #00255b
  }
  .tooltipText{
    font-style: italic;
  }